[Unit]
Description=Woodboard
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/woodboard
ExecStart=/usr/bin/bash -c '/usr/bin/python /home/pi/woodboard/woodboard.py'
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5s
Type=exec

[Install]
WantedBy=default.target